/* Colors */
$color-black: #333333;
$color-grey: #979797;
$color-grey-hover: #bebebe;
$color-grey-disabled: #E3E3E3;
$color-grey-text: #F5F5F2;
$color-orange: #F58220;
$color-orange-hover: #FFA200;
$color-green: #04AE00;
$color-green-hover: #74B67A;
$color-green-disabled: #96CC9B;
$color-coral: #DE5252;
$color-coral-hover: #EC7171;
$color-blue: #56819F;
$color-red: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;